.mainScene {
    position: relative;
    border: 3px solid black;
    width: 800px;
    height: 600px;
    margin: 0 auto;
}

.tank {
    position: absolute;
    width: 40px;
    height: 40px;
    background-image: url(../img/tank.png);
    background-repeat:no-repeat;
    background-size: 100% 100%;
}

.enemy {
    position: absolute;
    background-image: url(../img/tank.png);
    background-repeat:no-repeat;
    background-size: 100% 100%;
}

.bullet {
    position: absolute;
    background-color: black;
}

.interface {
    position: relative;
    font-size: 50px;
    z-index: 100;
}
